[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Inkyunkil
[access "refs/for/refs/*"]
	read = group user/Inkyunkil
	push = group user/Inkyunkil
	label-Code-Review = -2..+2 group user/Inkyunkil
	label-Verified = -1..+1 group user/Inkyunkil
	rebase = group user/Inkyunkil
	removeReviewer = group user/Inkyunkil
	submit = group user/Inkyunkil
[access "refs/heads/*"]
	read = group user/Inkyunkil
	create = group user/Inkyunkil
	push = +force group user/Inkyunkil
	pushMerge = group user/Inkyunkil
[access "refs/tags/*"]
	push = +force group user/Inkyunkil
	pushTag = group user/Inkyunkil
	pushSignedTag = group user/Inkyunkil
